{% extends 'content/root.html' %}
{% block title %}{{ organization_name }} Acknowledgments{% endblock %}
{% block tab_acknowledgments %}class="active"{% endblock %}
{% block main_content %}
<p><h4>Acknowledgments</h4>
		Special thanks to everyone at <a href="http://www.voiceonthego.com/wordpress/">Voice on the Go</a> for being so accommodating during my work placement.<br><br>
		
		<h4>Shout Outs</h4>
		Selva Thayaparam - Provided guidance and 'cool and collected' problem solving approach for many encountered issues<br><br>
		Hong Hua - Instilled outstanding coding and testing skills and debates regarding bracket placement and mobile manufacturer superiority<br><br>
		Ruby Osten - Showed insight into the business aspect of mobile software development and great pizza lunch conversations<br><br>
		Wanda Mcleod - Excellent assistance during the initial coop process and for opening the door for me everyday<br><br>
		
		Thanks to the <a href="http://www.cecs.uoguelph.ca/">University of Guelph CECS</a> for providing me with the opportunity and great experience.<br><br>
		Image Credits: <a href="http://www.apple.com">Apple.com</a>, <a href="http://www.voiceonthego.com">Voiceonthego.com</a>, Hong Hua
		</p>

{% endblock %}

