{% extends 'content/root.html' %}
{% block title %}{{ organization_name }} Experience{% endblock %}
{% block tab_coop_exp %}class="active"{% endblock %}
{% block main_content %}
<h4><h4>The Coop Experience</h4>

If I could sum up my time at Voice On The Go in a phrase it would be the following: Great learning experience and overall very enjoyable. Given that this was my first work term, I really did not know what to expect. I was unsure if I would be challenged or if I would be given real responsibilities. Thankfully, I can say that I was. This placement greatly exceeded my expectations and that makes me very optimistic for subsequent terms. <br><br>

Initially, I wanted to participate in coop because I thought that it would ideally make getting a job after graduation that much easier. While this would still certainly be a bonus, I realize now that even if I do not get employed directly from these experiences, I have picked up so many great skills that I will be able to take with me to future endeavors.<br><br>

Personally, one real thing that I wanted to put to the test was whether I would enjoy developing mobile applications as a profession. I already knew going in that I enjoyed this while I was in control since I had several personal projects under my belt. I can honestly say that even after developing applications for 8.5 hours on a daily basis, I still come home and work on projects. It really is something I love and something I can easily see myself pursuing, and without coop that would have all been unknown.<br><br>

As a computer science student, I cannot stress enough how important I feel coop really is. Thus far in my studies, every single project has been an individual task. On my first day at work, I realize that this is very rarely the case. Getting the chance to work with project managers, other developers, graphic artists and marketing specialists was truly valuable. At a larger organization, I likely would not have had this exposure and opportunity.<br>

<div style="text-align:center;"><img src="/static/images/CoopExperience.png" border="0" alt="The Coop Experience"></div>

<h4>Conclusions</h4>

On a final note, if I could put it simply, the coop experience was <u>fun</u>. I was able to wake up everyday and really look forward to going to work (though a small part of this was fueled by my horrible living situation). I enjoyed conversing with my colleagues on a daily basis and arguing about coding practices.  I enjoyed always having a good laugh during meetings and discussions. Between birthdays, pizza feasts, power outages and office evacuations, there was hardly a dull moment. Weekly lunches, with the development crew was always a major highlight. For anyone considering going down the coop route, you definitely have my recommendation. <br><br>

		</p>
{% endblock %}

