{% extends 'content/root.html' %}
{% block title %} {{ organization_name }} Employer Information{% endblock %}
{% block tab_employer_info %}class="active"{% endblock %}
{% block main_content %}
<p><h4>Employer Information</h4>
		For my first work term I worked for a company called <a href="http://www.voiceonthego.com/wordpress/">Voice on the Go</a> located in Markham, Ontario. At the forefront of operations there are approximately 15 employees under the solid leadership of <a href="http://www.voiceonthego.com/wordpress/management-team">Executive Chairman Ruby Osten</a>, <a href="http://www.voiceonthego.com/wordpress/management-team">CEO John McLeod</a> and <a href="http://www.voiceonthego.com/wordpress/management-team">CTO Dr. Selva Thayaparam</a>. They are a privately held corporation that was founded in 2005 and is currently a leader in speech-to-text and text-to-speech technologies, particularly in the mobile application space.<BR><BR>

With new laws coming into existence regarding cell phone use while driving, Voice on the Go has focused its efforts on driver safety by enabling individual and business consumers to be more productive while keeping their eyes on the road. As if this was not a feat in itself, their applications are also easy and fun to use for anyone with a mobile phone.<BR><BR>

<h4>Products</h4>
<b>Voice on The Go</b>, their flagship product, allows anyone to compose and listen to email or text messages, update popular social networking sites and call contacts all by using their voice. This application works on any phone and with any carrier network. Popular smart phones (iPhone, Android, Blackberry, Nokia etc.) have their own native client for ease of use. The application is based on a subscription model and includes a free trial. Below is a video outlining the application in action:<BR><BR>
<iframe width="560" height="349" src="http://www.youtube.com/embed/pJqpWgQS98w" frameborder="0" allowfullscreen></iframe><br><br>

<b>DriveCarefully</b>, a second product, also features the ability to compose and listen to email or text messages all by using the mobile phone's data connection. This application does not require a user to dial into any service or use their allocated monthly minutes.  Currently there is a lite version of DriveCarefully available on all of the major app stores. You can find a link to the particular branch of the application that I was tasked to work on during my placement on the <a href="http://itunes.apple.com/us/app/drivecarefully/id434462880?mt=8">App Store</a>.<BR><BR>
</p>
{% endblock %}

