{% extends 'root.html' %}

{% block title %}Portfolio Index{% endblock %}
{% block includes %}
<style>
.container {
    text-align: center;
}
.text-shadow {
    color: #FFF;
    text-shadow: 0px 1px 1px #000;
}
.jumbotron {
    text-align: center;
    height: 249px;
    background:url('/static/images/jumbotron-bg.png') repeat-x right top;
    -moz-box-shadow: 1px 1px 10px #999;
    -webkit-box-shadow: 1px 1px 10px #999;
    box-shadow: 1px 1px 10px #999;
}
</style>
{% endblock %}
{% block nav_home %}class="active"{% endblock %}
{% block main %}
<div class="jumbotron">
    <div class="container">
        <div style="padding-top: 15px;" class="row">
        <span class="span10 text-shadow"><div style="text-align: justify;">
        <h1 class="text-shadow" style="text-align:justify;">Andrew Halligan</h2>
        <h2 class="text-shadow" style="text-align:justify;">Software Developer - Coop Experience Portfolio<br><br></h3>
        Hello and welcome. My name is Andrew Halligan. I am currently attending the University of Guelph and I have just finished my second year of a Bachelor of Computing degree, specializing in Computer Science. I have a strong interest in mobile software development, entrepreneurship and I am pursuing a minor in Economics.</div><br>
        <br></span>
        <span class="span6">
            <img src="/static/images/AndrewHalligan.png">
            <a class="btn success" href="/portfolio/contact">Questions or Comments?</a>
        </span>    
       </div>
    </div>
</div>
<div class="container">
<div style="text-align: justify; padding-top: 25px; padding-bottom: 25px;" class="row">
    <div class="span5">
        <h3>Polar Mobile <span class="label success">Work Term #2</span></h3>
        <span><i>Sept 2011 - Dec 2011 (4 Months)</i></span>        
        <p style="margin-top: 5px;">Polar Mobile is a global leader in helping media companies distribute and monetize content on mobile devices. Their vision is to enable the next-generation media experience by making mobile fast, easy and effective.</p>
        <p><a class="btn" href="/portfolio/polarmobile">Read about my experience &raquo;</a></p>
    </div>
    <div class="span5">
        <h3>Voice On The Go <span class="label success">Work Term #1</span></h3>
        <span><i>May 2011 - Aug 2011 (4 Months)</i></span>
        <p style="margin-top: 5px;">Voice On The Go is a privately held corporation that was founded in 2005 and is currently a leader in speech-to-text and text-to-speech technologies, particularly in the mobile application space.</p>
        <p><a class="btn" href="/portfolio/voiceonthego">Read about my experience &raquo;</a></p>
    </div>
    <div class="span6">
        <h3>Recent Blog Posts</h3>
        <p></p>
        <p><a class="btn" href="/portfolio/blog">Read more &raquo;</a></p>
    </div>
</div>
</div>
{% endblock %}

