{% extends 'root.html' %}

{% block title %}Portfolio Index{% endblock %}
{% block includes %}
<style>
.container {
    text-align: center;
}
.text-shadow {
    color: #FFF;
    text-shadow: 0px 1px 1px #000;
}
.jumbotron {
    text-align: center;
    height: 249px;
    background:url('/static/images/jumbotron-bg.png') repeat-x right top;
    -moz-box-shadow: 0px 0px 0px #999;
    -webkit-box-shadow: 1px 1px 10px #999;
    box-shadow: 1px 1px 10px #999;
}
</style>
{% endblock %}
{% block nav_home %}class="active"{% endblock %}
{% block main %}
<div class="jumbotron">
    <div class="container">
        <div style="padding-top: 15px;" class="row">
        <span class="span10 text-shadow"><div style="text-align: justify;">
        <h1 class="text-shadow" style="text-align:justify;">Andrew Halligan</h2>
        <h2 class="text-shadow" style="text-align:justify;">Software Developer - Coop Experience Portfolio<br><br></h3>
        Hello and welcome. My name is Andrew Halligan. I am currently attending the University of Guelph and I have just finished my second year of a Bachelor of Computing degree, specializing in Computer Science. I have a strong interest in mobile software development, entrepreneurship and I am pursuing a minor in Economics.</div><br>
        <br></span>
        <span class="span6">
            <img src="/static/images/AndrewHalligan.png">
            <a class="btn success" href="/portfolio/contact">Questions or Comments?</a>
        </span>    
       </div>
    </div>
</div>
<div class="container">
<div style="text-align: justify; padding-top: 25px;" class="row">
    <div class="span6">
        <h2>Polar Mobile</h2>
        <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p><a class="btn" href="#">Read more &raquo;</a></p>
    </div>
    <div class="span5">
        <h2>Voice On The Go</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">Read more &raquo;</a></p>
    </div>
    <div class="span5">
        <h2>Recent Blog Posts</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">Read more &raquo;</a></p>
    </div>
</div>
</div>
{% endblock %}

