{% extends 'content/root.html' %}
{% block title %}{{ organization_name }} Acknowledgments{% endblock %}
{% block tab_acknowledgments %}class="active"{% endblock %}
{% block main_content %}
<p><h4>Acknowledgments</h4>
		Special thanks to everyone at <a href="http://www.polarmobile.com/">Polar Mobile</a> for being so accommodating during my work placement.<br><br>
		
		<h4>Shout Outs</h4>
		Carlo Barrettara - Mentored me by applying rigorous coding expectations and giving me meaningful projects to devise solutions for<br><br>
		Kunal Gupta - Provided motivational All-Hands meeting presentations and deep insights about the company's future<br><br>
		Jason Stanley - Assisted during the coop interview process and truly did believe in my abilities<br><br>
        Operations Team - Excellent team lunches and conversation throughout my work term<br><br>
		
		Thanks to the <a href="http://www.cecs.uoguelph.ca/">University of Guelph CECS</a> for providing me with the opportunity and great experience.<br><br>
		Image Credits: <a href="http://www.polarmobile.com">PolarMobile.com</a>, <a href="http://www.python.org">Python.org</a>, <a href="http://djangoproject.com">DjangoProject.com</a>, <a href="http://redis.io">Redis.io</a>, <a href="http://github.com">GitHub.com</a>, <a href="http://www.webtrends.com">WebTrends.com</a>
		</p>

{% endblock %}

