{% extends 'content/root.html' %}
{% block title %} {{ organization_name }} Employer Information{% endblock %}
{% block tab_employer_info %}class="active"{% endblock %}
{% block main_content %}
<p>
<h4>Employer Information</h4>
For my second work term I worked for a company called <a href="http://www.polarmobile.com">Polar Mobile</a> headquartered at 156 Front St. West, downtown Toronto, Ontario. The company was founded in 2007 at the University of Waterloo. Polar Mobile consists of approximately 40 people and is rapidly expanding under the leadership of <a href="http://www.polarmobile.com/about-us/management/">CEO Kunal Gupta</a>,  <a href="http://www.polarmobile.com/about-us/management/">VP of Sales and Business Development Regan Fletcher</a>,  <a href="http://www.polarmobile.com/about-us/management/">CFO Andrew Shannon</a>,  <a href="http://www.polarmobile.com/about-us/management/">VP for Customer Delivery and Product Management Jason Stanley</a> and  <a href="http://www.polarmobile.com/about-us/management/">CTO Michael Russo</a>. Polar Mobile is making it fast and painless to launch branded mobile applications.<br><br>

Polar Mobile's platform currently powers over 1200 mobile applications consisting of 320 customers including publishers, broadcasters and sports brands in 11 countries. Some of their notable customers include but are not limited to: CBS Sports, CFL Mobile, CTV, The Globe and Mail, Toronto Maple Leafs, WWF, Wired and Time. Polar Mobile prides itself on its incredibly fast time to market that clients are looking for in order to expand their brand to mobile which includes all of the major devices and platforms: iPhone, Android, BlackBerry, Windows Phone 7, Symbian, iPad and Playbook. They also provide a "one-stop" solution in that every application is completely supported by the Polar Mobile team for the lifetime of its existence.<br><br>

<table>
    <tr>
        <td style="border:0px;"><img style="border: 1px solid #000" width="160" height="240" src="/static/images/TML.jpg"></td>
        <td style="border:0px;"><img style="border: 1px solid #000" width="160" height="240" src="/static/images/CanadianLiving.jpg"></td>
        <td style="border:0px;"><img style="border: 1px solid #000" width="160" height="240" src="/static/images/CFL.jpg"></td>
    </tr>
</table>

<h4>Core Product</h4>

Polar Mobile's core product is their SMART&trade; platform. It contains a variety of very attractive services for the customer on top of providing a best-in-class experience on the user end. 

<h5>Advertising</h5>
Advertising is one such service which provides the ability to manage, track and serve advertising campaigns through an online web portal. This service offers full integration with all of the major mobile ad providers with direct targeting capabilities based on editorial content or section. 

<h5>Reporting</h5>
Real-time reporting is another service which gives the customer an opportunity to see exactly when and how their application is being used through deeply integrated analytics. Knowing this information proves to be extremely important when expanding into new markets and targeting existing customers effectively.<br><br>

<h4>Awards</h4>
Polar Mobile has been the recipient of multiple awards including the ICCC Technology Achievement Award, 50 Most Engaged Workplaces 2011 and Ernst & Young Entrepreneur of the Year 2011. They have proven that they are a force to be reckoned with and that there will be a lot in store for the company moving forward.
</p>
{% endblock %}

